ITERATIONS=200

__EXECUTABLES__
Optimized for 10=.\even_number_sieve 10 12
De-optimized #1 for 10=.\even_number_sieve 10 r
Optimized for 100=.\even_number_sieve 100 12
De-optimized #1 for 100=.\even_number_sieve 100 r
Optimized for 1000=.\even_number_sieve 1000 12
De-optimized #1 for 1000=.\even_number_sieve 1000 r
Optimized for 10000=.\even_number_sieve 10000 12
De-optimized #1 for 10000=.\even_number_sieve 10000 r
Optimized for 100000=.\even_number_sieve 100000 12
De-optimized #1 for 100000=.\even_number_sieve 100000 r
Optimized for 1000000=.\even_number_sieve 1000000 12
De-optimized #1 for 1000000=.\even_number_sieve 1000000 r
Optimized for 10000000=.\even_number_sieve 10000000 12
De-optimized #1 for 10000000=.\even_number_sieve 10000000 r
