ITERATIONS=50

__EXECUTABLES__
Optimized for 10=bpsh 11 ./mod_ten_counter_op 10
De-optimized #1 for 10=bpsh 11 ./mod_ten_counter_deop 10
Optimized for 100=bpsh 11 ./mod_ten_counter_op 100
De-optimized #1 for 100=bpsh 11 ./mod_ten_counter_deop 100
Optimized for 1000=bpsh 11 ./mod_ten_counter_op 1000
De-optimized #1 for 1000=bpsh 11 ./mod_ten_counter_deop 1000
Optimized for 10000=bpsh 11 ./mod_ten_counter_op 10000
De-optimized #1 for 10000=bpsh 11 ./mod_ten_counter_deop 10000
Optimized for 100000=bpsh 11 ./mod_ten_counter_op 100000
De-optimized #1 for 100000=bpsh 11 ./mod_ten_counter_deop 100000
Optimized for 1000000=bpsh 11 ./mod_ten_counter_op 1000000
De-optimized #1 for 1000000=bpsh 11 ./mod_ten_counter_deop 1000000
Optimized for 10000000=bpsh 11 ./mod_ten_counter_op 10000000
De-optimized #1 for 10000000=bpsh 11 ./mod_ten_counter_deop 10000000
