ITERATIONS=200

__EXECUTABLES__
Optimized for 10=.\Compare_two_floats_Op 10
De-optimized #1 for 10=.\Compare_two_floats_Deop 10
Optimized for 100=.\Compare_two_floats_Op 100
De-optimized #1 for 100=.\Compare_two_floats_Deop 100
Optimized for 1000=.\Compare_two_floats_Op 1000
De-optimized #1 for 1000=.\Compare_two_floats_Deop 1000
Optimized for 10000=.\Compare_two_floats_Op 10000
De-optimized #1 for 10000=.\Compare_two_floats_Deop 10000
Optimized for 100000=.\Compare_two_floats_Op 100000
De-optimized #1 for 100000=.\Compare_two_floats_Deop 100000
Optimized for 1000000=.\Compare_two_floats_Op 1000000
De-optimized #1 for 1000000=.\Compare_two_floats_Deop 1000000
Optimized for 10000000=.\Compare_two_floats_Op 10000000
De-optimized #1 for 10000000=.\Compare_two_floats_Deop 10000000
